@using Microsoft.Extensions.Configuration

@{
    ViewData["Title"] = "_Layout";
}

@inject IConfiguration Config
@{
    var name = Config.GetSection("Name").Value;
    var lastName = Config.GetSection("Surname").Value;
    var email = Config.GetSection("Email").Value;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/index.css" />
    </environment>
</head>
<body>
@RenderBody()
<hr/>
<footer>
    @($"{name} {lastName} {email}")
</footer>
</body>
</html>